
.contact-background-container {
    background-image: url("vecteezy_concept-contact-us-or-connected-customer-support-hotline_8015898.jpg");
    background-size: cover;
    height: 100vh;
    padding: 30px;
}

.contacts-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
    margin-right: 80px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(240, 240, 240, 0.2);
    padding: 30px;
    border-radius: 20px;
}

.contact-name-input {
    background-color: rgba(31, 29, 29, 0.5);
    border: none;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
    height: 35px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    color: aliceblue;
}

.contact-name-input::placeholder {
    font-weight: bold;
    padding-left: 20px;
    color: aliceblue;
}

.contact-text-input {
    background-color: rgba(31, 29, 29, 0.5);
    border: none;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    color: aliceblue;
}

.contact-text-input::placeholder {
    font-weight: bold;
    padding-left: 20px;
    color: aliceblue;
}

.contact-button {
    height: 35px;
    width: 100px;
    background-color: transparent;
    border: 1px solid cyan;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: cyan;
    border-radius: 10px;
    transition: all .5s ease;
}

.contact-button:hover {
    color: black;
    background-color: cyan;
    transition: all .9s ease-in-out;
}

